
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FlaskPi - Tutorials</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Flask on Raspberry Pi">
    <meta name="author" content="Ivan Kolodyazhny">

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/#home">FlaskPi</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="https://github.com/e0ne/flaskpi">Source Code</a></li>
              <li class="active"><a href="/tutorials#tutorials">Tutorials</a></li>
              <li><a href="/#about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Tutorials</li>
              <li class="active"><a href="#">Introduction</a></li>
              <li class="nav-header">First steps</li>
              <li><a href="#">Setup Raspberry Pi and run simple Flask application</a></li>
              <li><a href="#">Development process workflow</a></li>
              <li><a href="#">Integrated Development Environment (IDE)</a></li>
              <li><a href="#">Flask application structure</a></li>
              <li class="nav-header">Develpoment</li>
              <li><a href="#">Routing and URL mapping</a></li>
              <li><a href="#">Templates and view engine</a></li>
              <li><a href="#">Accessing to a database: SQL Alchemy</a></li>
              <li><a href="#">AJAX: make you website more responsible</a></li>
              <li><a href="#">KnockoutJS: client-side databinding and MVVM pattern</a></li>
              <li class="nav-header">Testing</li>
              <li><a href="#">Unit tests</a></li>
              <li><a href="#">Mock objects</a></li>
              <li><a href="#">Web UI tests and Selenium</a></li>
              <li class="nav-header">Debugging</li>
              <li><a href="#">What is debugger?</a></li>
              <li><a href="#">PDB</a></li>
              <li><a href="#">Debugging from IDE</a></li>
              <li><a href="#">Step by Step Guide</a></li>
              <li class="nav-header">Deployment</li>
              <li><a href="#">Fabric</li>
              <li><a href="#">Flask + Nginx + uWSGI</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="row-fluid">
            {% block body %}
            {% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; flaskpi.com 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.9.0.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/js/flaskpi.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37902045-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>
