{% extends "base.html" %}
{% block body %}

  <div>
      <h2>Tutorials</h2>

      <div class="row-fluid">
        <ol>
            <li><a href="/tutorials/introduction#tutorials">Introduction</a></li>
            <li>Setup Raspberry Pi and run simple Flask application</li>
            <li>Development process (workflow)</li>
            <li>Flask application structure</li>
            <li>Deployment (Flask + Nginx + uWSGI)</li>
            <li>Routing and URL mapping</li>
            <li>Accessing to a database: SQL Alchemy</li>
            <li>AJAX: make you website more responsible</li>
            <li>KnockoutJS: client-side databinding and MVVM pattern</li>
          </ol>
      </div>
  </div>
{% endblock %}