{% extends "base.html" %}
{% block body %}
    <div class="jumbotron">
        <h1>Learn Flask and run it on Raspberry Pi</h1>
        <p class="lead">This site doesn't run on Raspberry Pi yet.</p>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Flask</h4>
          <p><a href="http://flask.pocoo.org/">Flask</a> is a microframework for Python based on Werkzeug, Jinja 2 and good intentions.</p>
          </div>

        <div class="span6">
          <h4>Raspberry Pi</h4>
          <p><a href="http://www.raspberrypi.org/">The Raspberry Pi</a> is a credit-card sized computer that plugs into your TV and a keyboard.</p>
        </div>
    </div>
    <div class="row-fluid marketing">
        <div class="span12">
          <h4>About</h4>
          <p><a name="about"></a>
            This project will provide you tutorials for creating real web application and deploying it to server. Step-by-step guidelines describes all aspects of development and deployment webtites. We use Flask as a web framework and Raspberry Pi as a server. All sources are available on the GitHub under Apache 2.0 license.
          </p>
          <p>
            <span class="label label-info">Info</span>&nbsp;This site and sources will be upteded with each new totorial form a very simple web application to web 2.0 single-page application.
          </p>
          </div>
    </div>
    <div class="row-fluid marketing">
        <div class="span6">
          <h4>Why Flask?</h4>
          <p>
            Flask is small but powerfull web framework with good community and documentation.
            It depends only on two external library and gets a lot of extensions. Flask is a good choise to start web development with Python.
          </p>
        </div>
        <div class="span6">
          <h4>Why Raspberry Pi?</h4>
          <p>
            Raspberry Pi is small and cheap computer. It's easy you to use it for Proof-of-Concept implementation and run a real server-side software on it.
          </p>
        </div>
    </div>
{% endblock %}