{% extends "base.html" %}
{% block body %}
    <div class="jumbotron">
        <h1>Learn Flask and run it on Raspberry Pi</h1>
        <p class="lead">This site doesn't run on Raspberry Pi yet.</p>
        <p class="lead">Content will be soon.</p>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Flask</h4>
          <p><a href="http://flask.pocoo.org/">Flask</a> is a microframework for Python based on Werkzeug, Jinja 2 and good intentions.</p>
          </div>

        <div class="span6">
          <h4>Raspberry Pi</h4>
          <p><a href="http://www.raspberrypi.org/">The Raspberry Pi</a> is a credit-card sized computer that plugs into your TV and a keyboard.</p>
        </div>
    </div>
{% endblock %}